<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <p>This morning, I woke up to a <%- adjective %> sound coming from outside my window. When I looked out, I saw a <%- noun %> trying to <%- verb %> in the driveway. It was so strange that I almost thought I was dreaming.</p>

  <p>Later that day, I went to the park and noticed another <%- adjective %> sight. Right in the middle of the playground, there was a <%- noun %> that seemed to be trying to <%- verb %> in front of everyone. The kids all laughed, but the adults looked very confused.</p>

  <p>By the end of the day, I couldn't believe what I had witnessed. It felt like the world had turned upside down. I made a promise to myself that if I ever see something this unusual again, I'll write it down immediately so nobody thinks I'm making it up!</p>

</body>

</html>